---
- name: Install build dependencies
  apt:
    name:
      - git
      - build-essential
      - libssl-dev
      - curl
    state: present
    update_cache: yes

- name: Check if NVM is already installed
  stat:
    path: "/home/{{ deploy_user }}/.nvm/nvm.sh"
  register: nvm_installed

- name: Install NVM
  shell: |
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
  args:
    creates: "/home/{{ deploy_user }}/.nvm/nvm.sh"
    executable: /bin/bash
  become: yes
  become_user: "{{ deploy_user }}"
  environment:
    HOME: "/home/{{ deploy_user }}"
  when: not nvm_installed.stat.exists

- name: Add NVM to bashrc if not present
  lineinfile:
    path: "/home/{{ deploy_user }}/.bashrc"
    line: "{{ item }}"
    create: yes
  loop:
    - 'export NVM_DIR="$HOME/.nvm"'
    - '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"'
    - '[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"'
  become: yes
  become_user: "{{ deploy_user }}"

- name: Create application directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ deploy_user }}"
    group: "{{ deploy_user }}"
    mode: '0755'
  loop:
    - "{{ app_dir }}"
    - "{{ app_releases_dir }}"
    - "{{ app_shared_dir }}"
    - "{{ app_shared_dir }}/logs"
    - "{{ app_shared_dir }}/config"

- name: Create .env template
  template:
    src: env.j2
    dest: "{{ app_shared_dir }}/config/.env"
    owner: "{{ deploy_user }}"
    group: "{{ deploy_user }}"
    mode: '0600'
  when: not ansible_check_mode
